.product {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.productImage {
  background: white;
  border-radius: 1rem;
}

img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 400px;
  object-fit: contain;
}

.productReview {
  width: 40rem;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.productInfo {
  border: 0.3rem solid #c59d5f;
  border-radius: 1rem;
  margin-top: 0;
  height: fit-content;
  width: 40rem;
  margin-right: 1rem;
  /* background: #cedad8; */
}
.bold {
  font-weight: 600;
  display: inline;
}
.mute {
  font-weight: 200;
  display: inline;
  letter-spacing: 0.2rem;
}

.titleAndCategory {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.1rem solid grey;
  margin-right: 1rem;
}

.infoMargin {
  margin-left: 1rem;
}

.productTitle {
  font-size: 3rem;
}

.productCategory {
  padding-bottom: 0.7rem;
}
/* #CEDAD8
#98A7AE */

@media screen and (max-width: 900px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
