.product {
  display: flex;
  justify-content: space-evenly;

  /* align-items: center; */
}
.productImage {
  background: white;
  /* background: #98a7ae; */
  border-radius: 1rem;
}
.productImage img {
  object-fit: contain;
  height: 20rem;
  width: 40rem;
}

.productReview {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40rem;
  border-radius: 0.1rem;
}

.productInfo {
  height: fit-content;
  width: 40rem;
  border: 0.1rem solid grey;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 0;
  /* background: #cedad8; */
}
.bold {
  font-weight: 600;
  display: inline;
}
.mute {
  font-weight: 200;
  display: inline;
  letter-spacing: 0.2rem;
}

.titleAndCategory {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.1rem solid grey;
  margin-right: 1rem;
}

.infoMargin {
  margin-left: 1rem;
}

.productTitle {
  font-size: 3rem;
}

.productCategory {
  padding-bottom: 0.7rem;
}
/* #CEDAD8
#98A7AE */
