<% layout('layouts/boilerplate.ejs')%>
<!-- Selling a product form -->
<div class="addProductForm">
  <form action="/addProduct" method="POST">
    <label for="title">Title</label>
    <input type="text" name="Product[title]" id="title" />

    <label for="description">Description</label>
    <input type="text" name="Product[description]" id="description" />

    <label for="image">Image URL</label>
    <input type="text" name="Product[image]" id="image" />

    <label for="price">Price</label>
    <input type="number" name="Product[price]" id="price" />

    <label for="category">Category</label>
    <input type="text" name="Product[category]" id="category" />

    <button type="submit">Add Product</button>
  </form>
</div>
